@tailwind base;
@tailwind components;
@tailwind utilities;

.input-class::placeholder {
  color: #2D31A6;
  opacity: 0.2;
}

.form-input {
  border-color: rgba(128, 152, 249, 0.5);
  background: rgba(128, 152, 249, 0.1);
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  width: 453px;
  height: 64px;
}

.input-class {
  border: none;
  background: transparent;
}

.input-class:focus,
.input-class:hover {
  outline: none;
  border: none;
}

@media (max-width: 768px) {
  .form-input {
    width: 330px;
  }
}

.auth-layout {
  width: 1440px;
  height: 90vh;
  max-height: 1024px;
  background-color: white;
  border-radius: 40px;
  overflow: hidden;
}

.picture-section {
  background-color: #6172F3;
}

@media (max-width: 768px) {
  .picture-section {
    display: none;
  }
}

.bg-picture {
  width: auto;
  max-height: 606px;
}

.moving-picture {
  width: auto;
  max-height: 369px;
}

.info {
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.info-small {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.form-header {
  font-family: 'Montserrat' Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #09090B;
  text-align: center;
}

@media (max-width: 768px) {
  .form-header {
    font-size: 35px;
  }
}

.form-class {
  max-width: 477px;
}

.header-line {
  width: 120px;
  border-color: #bdbdbd;
  height: 2px;
}

.sub-text {
  color: #71717A;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
  .header-line {
    width: 80px;
  }
}

.classic-btn {
  background-color: #8098F9;
  height: 64px;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.classic-btn:hover {
  background-color: #788ee9;
}

.classic-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sub-text-blue {
  color: #8098F9;
  font-family: 'Montserrat' Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 800;
}
